<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.scada.core.ui.connection.login.context">
      <context
            label="Master on localhost"
            id="org.eclipse.scada.eclipsemagazin.hmi.gobal.combox.intra">
         <factory
               class="org.eclipse.scada.core.ui.connection.login.factory.ConnectionLoginFactory">
         </factory>
         <connection
               authUseCallbacks="true"
               uri="da:ngp://localhost:2101?session.privilege.developer=true&amp;session.privilege.admin=true&amp;session.privilege.operator=true"
               autoReconnectDelay="10000"
               mode="NORMAL">
            <registration
                  servicePid="connection.da.main">
            </registration>
         </connection>
      </context>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.scada.eclipsemagazin.hmi.nosession">
         <and>
            <not>
               <with
                     variable="org.eclipse.scada.core.ui.connection.login.sessionState">
                  <equals
                        value="loggedIn">
                  </equals>
               </with>
            </not>
         </and>
      </definition>
      <definition
            id="org.eclipse.scada.eclipsemagazin.hmi.hassession">
         <and>
            <with
                  variable="org.eclipse.scada.core.ui.connection.login.sessionState">
               <equals
                     value="loggedIn">
               </equals>
            </with>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.scada.vi.details.detailView">
      <detailView
            id="org.eclipse.scada.eclipsemagazin.hmi.detailview.example">
         <class
               class="org.eclipse.scada.vi.details.swt.impl.DetailViewImpl">
            <parameter
                  name="uri"
                  value="platform:/plugin/org.eclipse.scada.eclipsemagazin.hmi/resources/details/example.detailview">
            </parameter>
         </class>
      </detailView>
   </extension>

 <extension
         point="org.eclipse.scada.vi.ui.user.view">
      <viewInstance
            defaultInstance="true"
            factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
            id="org.eclipse.scada.sample.configuration.placeholder"
            mainView="false"
            name="Main"
            resource="resources/views/placeholder.vi"
            zooming="false">
         <visibility>
            <reference
                  definitionId="org.eclipse.scada.eclipsemagazin.hmi.nosession">
            </reference>
         </visibility>
      </viewInstance>
 	<viewInstance
        defaultInstance="true"
        factoryClass="org.eclipse.scada.vi.ui.user.VisualInterfaceFactory"
        id="org.eclipse.scada.sample.configuration.main"
        mainView="true"
        name="Main"
        resource="resources/views/main.vi"
        zooming="false">
         <visibility>
            <reference
                  definitionId="org.eclipse.scada.eclipsemagazin.hmi.hassession">
            </reference>
         </visibility>
      </viewInstance>
   </extension>


   <extension
         point="org.eclipse.scada.vi.ui.user.viewer">
      <viewerExtension
            align="FILL"
            class="org.eclipse.scada.vi.ui.user.viewer.ext.ToolBarNavigatorExtension"
            id="org.eclipse.scada.sample.configuration.main.navigator"
            location="LEFT">
      </viewerExtension>
      <viewerExtension
            align="FILL"
            class="org.eclipse.scada.vi.ui.user.viewer.ext.BreadcrumbNavigatorExtension"
            id="org.eclipse.scada.sample.configuration.main.breadcrumbs"
            location="TOP">
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.eclipse.scada.sample.configuration.main.viewerExtension4"
            location="TOP">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.SeparatorExtension">
            <parameter
                  name="invisible"
                  value="true">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="FILL"
            id="org.eclipse.scada.sample.configuration.main.message"
            location="TOP">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.item.SystemMessageExtension">
            <parameter
                  name="connectionId"
                  value="connection.da.demo">
            </parameter>
            <parameter
                  name="itemId"
                  value="OS.DEMO.SCADA.SYSMSG.V">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.eclipse.scada.sample.configuration.main.time"
            location="TOP">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.item.ItemExtension">
            <parameter
                  name="connectionId"
                  value="connection.master.info">
            </parameter>
            <parameter
                  name="itemId"
                  value="OS.DEMO.SCADA.DATE.V">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.eclipse.scada.sample.configuration.main.logo"
            location="TOP">
         <class
               class="org.eclipse.scada.vi.ui.viewer.ext.image.ImageExtension">
            <parameter
                  name="url"
                  value="platform:/plugin/org.eclipse.scada.eclipsemagazin.hmi/resources/images/eclipsescada.png">
            </parameter>
         </class>
      </viewerExtension>
      <viewerExtension
            align="END"
            id="org.eclipse.scada.sample.configuration.main.debug"
            location="TOP">
         <class
               class="org.eclipse.scada.vi.ui.user.viewer.ext.DebugActionExtension">
         </class>
      </viewerExtension>
   </extension>
   

</plugin>
