<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.scada.samples.demo1.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Default Perspective"
            class="org.eclipse.scada.samples.demo1.app.Perspective"
            id="org.eclipse.scada.samples.demo1.app.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
   </extension>
  
     <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="%menu.file.label">
            <separator
                  name="new.ext"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.file.label">
            </command>
         </menu>
         <separator
               name="additions">
         </separator>
         <menu
               id="window"
               label="%menu.window.label">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  style="push">
            </command>
            <separator
                  name="resetPerspectiveSeparator"
                  visible="false">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <separator
                  name="additions">
            </separator>
            <separator
                  name="sep3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <systemTest
                        property="scada.debug"
                        value="true">
                  </systemTest>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="help"
               label="%menu.help.label">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.scada.samples.demo1.app.application"
            name="Demo Client">
         <property
               name="windowImages"
               value="icons/app/icon_16px.png,icons/app/icon_32px.png,icons/app/icon_48px.png,icons/app/icon_64px.png,icons/app/icon_128px.png">
         </property>
          <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
         <property
               name="appName"
               value="Demo Client">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="branding/about.png">
         </property>
         <property
               name="startupForegroundColor"
               value="444444">
         </property>
         <property
               name="startupMessageRect"
               value="20,20,4345,20">
         </property>
         <property
               name="startupProgressRect"
               value="0,0,455,15">
         </property>
      </product>
   </extension>
 <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.eclipse.scada.samples.demo1.app.default"
            name="Default">
      </activity>
      <activityPatternBinding
            activityId="org.eclipse.scada.samples.demo1.app.default"
            isEqualityPattern="false"
            pattern=".*\/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.scada.samples.demo1.app.default"
            isEqualityPattern="false"
            pattern=".*\/org.eclipse.ui.edit.text.delimiter\..*">
      </activityPatternBinding>
   </extension>
   
     <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="org.eclipse.scada.samples.demo1.app.perspective">
         </perspectiveShortcut>
  	</perspectiveExtension>
  <perspectiveExtension
            targetID="org.eclipse.scada.samples.demo1.app.perspective">
         <view
               closeable="false"
               id="org.eclipse.scada.vi.ui.user.SingleVisualInterfaceView"
               minimized="false"
               moveable="false"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
  </extension>
   
</plugin>
